.footer {
  display: flex;
  flex-direction: column;
  padding: 40px 64px;
  height: auto;
  background-color: $background-white;
  box-shadow: inset 0 1px 0 0 $surface-stroke;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-top__contacts {
  max-width: 284px;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-right: 178px;
  color: $on-surface-secondary-text;
}

.footer-top-contacts-list-item {
  padding-bottom: 8px;
}

.footer-top-contacts-list__link {
  text-decoration: none;
  padding: 0;
  color: $on-surface-secondary-text;
}

.footer-top-contacts-list__link:hover {
  text-decoration: underline;
}

.footer-top__title {
  font-family: IBMPlexSans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: $on-surface-primary-text;
  padding-bottom: 20px;
}

.footer-top__catalog {
  max-width: 284px;
  padding-right: 168px;
}

.footer-top-catalog-list__item {
  padding-bottom: 8px;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.footer-top-catalog-list__link {
  text-decoration: none;
  padding: 0;
  color: $on-surface-secondary-text;
}

.footer-top-catalog-list__link:hover {
  text-decoration: underline;
}

.footer-top__social {
  max-width: 284px;
}

.footer-top-social-list {
  display: flex;
  gap: 15px;
}

.footer-top-social-list__link svg {
  max-width: 20px;
  max-height: 20px;
  fill: $on-surface-secondary-text;
}

.footer-top-divider {
  display: block;
  width: 100%;
  height: 0px;
  padding: 0;
  margin: 32px 0;
  border-top: 1px solid;
  border-bottom: 0;
  border-top-color: $surface-stroke;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-family: IBMPlexSans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.footer-bottom-list {
  display: flex;
}

.footer-bottom-list__link {
  text-decoration: none;
  padding: 0 0 0 14px;
  color: $on-surface-primary-text;
}

.footer-bottom-list__link:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .footer {
    padding: 40px 32px;
  }

  .footer-top__contacts {
    padding-right: 40px;
  }

  .footer-top__catalog {
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 40px 32px;
  }

  .footer-top {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer-top__contacts {
    padding-right: 0px;
  }

  .footer-bottom {
    flex-direction: column-reverse;
    gap: 20px;
  }

  .footer-bottom-list {
    flex-direction: column;
    gap: 8px;
  }

  .footer-bottom-list__link {
    padding: 0;
  }
}