$background-notification-color: #F2F5FC;
$background-white: #ffffff;
$background-grey: #F9F9FB;
$notifications-divider: #D2D8DA;
$notifications-text: #222;
$surface-stroke: #E5E5E5;
$on-surface-secondary-text: rgba(0, 0, 0, 0.65);
$on-surface-primary-text: #000;
$brand-noventiq-ccp: #0B408B;
$brand-noventiq-ccp-hover: #09326b;
$on-surface-icons: hsl(220, 19%, 94%);
$buttons-secondary-hover: #F0F0F0;
$text-gray: #B5B5B5;
$text-gray-add: #868686;
$list-style-item-blue: #0948A2;
$list-style-item-red: #C70D45;
$gray-900: #111827;
$gray-500: #6D7280;
$grey-10-gainsboro: #E2E2E5;
$grey-02: #FCFCFC;
$black-85-text: #282828;
$searchresult-link-text: #25AADD;
$searchresult-descr-text: #92929D;
$searchresult-select-text: #FFD973;
$buy-now-button-text: #43BF81;
$buy-now-button-text-hover: #39a56f;
$icon-reset: #bdbdbd;
$nav-button-hover: #6D767E;